<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{garminRun.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{garminRun.add.headline}]]</h1>
                <div>
                    <a th:href="@{/garminRuns}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2">[[#{garminRun.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('garminRun')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='garminRun', field='activityID', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='garminRun', field='activityDate', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='garminRun', field='activityType')}" />
                <div th:replace="~{fragments/forms::inputRow(object='garminRun', field='activityName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='garminRun', field='activityDescription')}" />
                <div th:replace="~{fragments/forms::inputRow(object='garminRun', field='elapsedTime')}" />
                <div th:replace="~{fragments/forms::inputRow(object='garminRun', field='distance')}" />
                <div th:replace="~{fragments/forms::inputRow(object='garminRun', field='maxHeartRate')}" />
                <div th:replace="~{fragments/forms::inputRow(object='garminRun', field='runner', type='select')}" />
                <input type="submit" th:value="#{garminRun.add.headline}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
            </form>
        </div>
    </body>
</html>
